<% include ../partials/boilerplate %>

<div id="header">
  <h1 id="head_text">USER <h1 id="head_text">FEED</h1></h1>
</div>

<center>
  <div id="img">
    <img src="img/main/main_page_header.jpg" />
  </div>

</center>

<div id="newTopic">
  <a href="/bait/new"><button id="newBtn"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></button></a>
  <h1>NEW BAIT !</h1>
</div>

<div id="feed-container">
  <br />
  <% data.forEach(data => { %>
  <div id="bait_container">
    <h1 id="title" ><%= data.title %></h1>
    <h1 id="category"><%= data.category %></h1>
    <h1 id="author" ><span>BY:</span><%= data.author %></h1>
    <div id="description_container">
      <h1 id="description" ><%= data.description %></h1>
    </div>

    <div id="bait_btns">
      <form action="/bait/discuss/<%=data.id%>" method="GET">
      <a><button type="submit" id="debait">DeBAIT !</button></a>
      <a><button id="delete">DELETE !</button></a>
    </form>
    </div>
  </div>
  <br>
  <% }) %>

</div>

<% include ../partials/end %>
