<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/bait_edit.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Open+Sans" rel="stylesheet">
</head>

<div id="header">
  <h1 id="head_text">Edit?</h1>
</div>

<center>
  <div id="bait_info">
    <h1 class="wrapper">CATEGORY</h1><h1><%= data.category %></h1>
    <h1 class="wrapper">TITLE</h1><h1><%= data.title %></h1>
    <h1 class="wrapper">DESCRIPTION</h1><h1><%= data.description %></h1>
  </div>

  <div>
    <div id="form-container">
      <form id="update_form" action="/bait/<%=data.id%>?_method=PUT" method="POST">
        <input class='bait_data' type="text" name="category" placeholder="" value="<%= data.category %>" />
        <input class='bait_data' type="text" name="title" placeholder="" value="<%=data.title%>" />
        <textarea id="edit_description" name="description" value="<%=data.description %>"></textarea>
        <input id='submit' type="submit" value="Fix it!">
      </form>
    </div>

    <a href="/user/">POST !</a>
    <a href="/user/">Back to BAITS!</a>
  </div>

</center>

<% include ../partials/end %>
